
@model QuanLyTiemTra.ViewModel.MutipleData
@{
    ViewBag.Title = "SuaCTPN";
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <title>Sửa chi tiết phiếu nhập</title>

    <link href="~/css/NguyenLieu.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div class="title">
            Sửa đơn hàng
        </div>
        <form method="post" action="SuaCTPN">
            @foreach (var item in Model.chiTietPhieuNhaps)
            {
                <div class="field">
                    <input type="text" name="IdPN" value="@item.IdPN" readonly>
                    <label>Mã Phiếu Nhập</label>
                </div>
                <div class="field">
                    <input type="text" name="IdCTPN" value="@item.IdCTPN" readonly>
                    <label>Mã Chi Tiết Phiếu Nhập</label>
                </div>
                <label>Tên nguyên liệu</label>
                <select id="disease-list" name="IdNL" style=" MARGIN-BOTTOM: 20PX; margin-top: 20PX;">
                    @foreach (var item2 in Model.nguyenLieus)
                    {
                        <option value="@item2.IdNL" @(item2.IdNL == item.IdNL ? "selected" : "")>@item2.TenNL</option>
                    }
                </select>

                <div>
                    <label>Nhà Cung Cấp</label>
                    <select id="disease-list" name="IdNhaCC">
                        @foreach (var item2 in Model.nhaCungCap)
                        {
                            <option value="@item2.IdNhaCC" @(item2.IdNhaCC == item.IdNhaCC ? "selected" : "")>@item2.TenNhaCC</option>

                        }
                    </select>
                </div>
                <div class="field">
                    <input type="text" name="HanSuDung" value="@item.HanSuDung">
                    <label>Hạn Sử Dụng</label>
                </div>
                <div class="field">
                    <input type="text" name="SoLuong" value="@item.SoLuong" onchange="calculateTotal(this)">
                    <label>Số lượng</label>
                </div>
                <div class="field">
                    <input type="text" name="GiaNhap" value="@item.GiaNhap" onchange="calculateTotal(this)">
                    <label>Giá Nhập</label>
                </div>

                <div class="field">
                    <input type="text" name="ThanhTien" value="@item.ThanhTien">
                    <label>Thành Tiền</label>
                </div>


                <div class="field">
                    <input type="submit" value="Sửa">
                </div>
                <div class="signup-link">
                    <a href="/CTPN/CTPN">Quay về</a>
                </div>
            }
        </form>
    </div>
</body>
</html>
<script type="text/javascript">

    function calculateTotal(input) {
        var row = input.parentNode.parentNode;
        var quantity = parseFloat(row.querySelector('[name="SoLuong"]').value);
        var price = parseFloat(row.querySelector('[name="GiaNhap"]').value);
        var total = quantity * price;
        row.querySelector('[name="ThanhTien"]').value = isNaN(total) ? '' : total;
    }
</script>
