@model QuanLyTiemTra.ViewModel.MutipleData
@{
    ViewBag.Title = "SuaTU";
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <title>Sửa thức uống</title>

    <link href="~/css/NguyenLieu.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div class="title">
            Sửa thông tin thức uống
        </div>
        <form method="post" action="SuaTU">
            @*<div class="field">
                <input type="text" name="IdTU" value=""
            </div>*@
            @foreach (var item in Model.thucUongs)
            {
                <div class="field">
                    <input type="text" name="TenTU" value="@item.TenTU">
                    <label>Tên Thức Uống</label>
                </div>
                <label>Tên Loại Thức Uống</label>
                <select id="disease-list" name="TenLoai">
                    @foreach (var item2 in Model.loaiThucUongs)
                    {
                        <option value="@item2.IdLoai" @(item2.IdLoai == item.IdLoai ? "selected" : "")>@item2.TenLoai</option>
                    }
                </select>
                <div class="field">
                    <input type="text" name="Gia" value="@item.Gia">
                    <label>Giá Thành</label>
                </div>
                <div class="field">
                    <input type="datetime" name="Date_update" value="@item.Date_update">
                    <label>Ngày Cập Nhật</label>
                </div>
               
                <div class="field">
                    <input type="file" name="Image" value="@item.Image">
                    <label>Hình ảnh minh họa</label>
                </div>


                <div class="field">
                    <input type="submit" value="Sửa">
                </div>
                <div class="signup-link">
                    <a href="/Menu/Menu">Quay về trang chủ</a>
                </div>
            }
        </form>
    </div>
</body>
</html>