@model QuanLyTiemTra.Models.NhaCungCap
@{
    ViewBag.Title = "SuaNCC";
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <title>Sửa nhà cung cấp</title>

    <link href="~/css/NguyenLieu.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div class="title">
            Sửa Nhà Cung Cấp
        </div>
        <form method="post" action="SuaNV">

            <div class="field">
                <input type="text" name="IdNhaCC" value="@Model.IdNhaCC" readonly>
            </div>
            <div class="field">
                <input type="text" name="TenNhaCC" value="@Model.TenNhaCC">
                <label>Nhà Cung Cấp</label>
            </div>
            <div class="field">
                <input type="text" name="Sdt" value="@Model.Sdt">
                <label>PhoneNumber</label>
            </div>
            <div class="field">
                <input type="text" name="Email" value="@Model.Email">
                <label>Email</label>
            </div>
            <div class="field">
                <input type="text" name="DiaChi" value="@Model.DiaChi">
                <label>Địa Chỉ</label>
            </div>




            <div class="field">
                <input type="submit" value="Sửa">
            </div>
            <div class="signup-link">
                <a href="/NhanVien/NhanVien">Quay về</a>
            </div>

        </form>
    </div>
</body>
</html>